.header{
    background-color: aquamarine;
    padding:0px;
    height:20px;
}
.header h3{
    font-size:10px;
}
.header ul{
    font-size:7px;
    list-style:none;
}
.header li{
    margin-left:20px;
    display:inline-block;
    padding-top:0px;
}
